.landing-page {
  height: 100vh;
  background: #fff;
  margin: 0 auto;
}

.logo {
  width: 50%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
      rgba(128, 128, 128, 0.6),
      rgba(128, 128, 128, 0.6)
    ),
    url(/assets/images/background.jpg) center no-repeat;
  position: relative;
  background-size: cover;
}

.logo figure img {
  width: 32rem;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%);
}

.logo-tagline {
  font-size: 2.5rem;
  position: absolute;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 2px;
  bottom: 10rem;
  padding: 2rem;
  background: #004f85;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

.content {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background: #004f85;
  padding: 5rem;
  color: #fff;
}

.greetings {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.menu {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.menu-items {
  padding: 0.5rem 0;
  transition: border-bottom 0.5s;
  cursor: pointer;
}

.menu-items:not(:first-child) {
  margin-left: 1.5rem;
}

.menu-items:hover {
  border-bottom: 2px solid #fff;
}

.menu-items.active {
  border-bottom: 2px solid #fff;
}

.form {
  font-size: 1.6rem;
  margin: 3rem 0;
}

.form-control {
  padding: 1.3rem 0.75rem;
  font-size: 1.2rem;
}

.btn-alter {
  font-size: 1.4rem;
  margin-top: 1rem;
}
