<div class="container-fluid">
  <div class="background"></div>
  <div class="landing-page">
    <div class="logo">
      <img logo src="/assets/images/logo.png" />
      <div class="tagline">
        Professional Vehicle Breakdown Recovery Towing Service
      </div>
    </div>
    <div class="box">
      <div class="left-section">
        <div class="sales-pitch">Get a Quote or make a booking using our</div>
        <div class="booking-button-box">
          <div class="booking-button" (click)="enableForm('booking')">
            Quote Inquiry Form
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="right-section--heading">
          <span>Login</span>
        </div>
        <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form">
          <mat-form-field floatLabel="auto" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter email" />
            <mat-error>Invalid Email</mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="auto" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password" />
            <mat-error>Invalid Email</mat-error>
          </mat-form-field>
          <div *ngIf="errorMessage" class="text-danger">
            <strong>{{ errorMessage }} invalid login credrentials</strong>
          </div>
          <button mat-raised-button class="btn btn-primary btn-login" [disabled]="loginForm.invalid || apiInProgress">
            {{ apiInProgress ? "Logging In" : "Login" }}
            <span *ngIf="apiInProgress" class="lds-dual-ring"></span>
          </button>
        </form>
        <div class="register">
          <div class="register-btn register-btn--primary">
            Register as a customer
          </div>
          <div class="register-btn register-btn--secondary">
            Register as a driver
          </div>
        </div>
      </div>
    </div>
  </div>
</div>